<div class="gallery-env">

  <div class="row">

    <div class="col-sm-4" *ngFor="let product of products">

      <article class="album">

        <header>
          <span *ngIf="product.pictureUrls?.length > 0">
            <img src="{{photoUrl + product.pictureUrls[0]}}" style="width:500px;height:400px">
          </span>
        </header>

        <section class="album-info">
          <h3>{{product.name}}</h3>

          <h2>{{product.price}} GEL</h2>
        </section>

      </article>

    </div>

  </div>
</div>
