<table class="table table-bordered table-striped datatable" id="table-2">
  <thead>
  <tr>
    <th style="width: 30px;">
      <div class="checkbox checkbox-replace">
        <span class="badge badge-success">#</span>
      </div>
    </th>
    <th style="width: 200px;">სახელი გვარი</th>
    <th style="width: 200px;">მაილი</th>
    <th style="width: 200px;">თანხა</th>
    <th style="width: 200px;">Actions</th>
  </tr>
  </thead>

  <tbody>


  <tr *ngFor="let user of users; let i = index">
    <template [ngIf]="isAdmin(user.role)">
      <td>
        <div class="checkbox checkbox-replace">
          <span class="badge badge-info">{{i + 1}}</span>
        </div>
      </td>

      <td>
        {{user.firstName}} <!--<span class="label label-success">New Applicant</span>-->
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <input type="text" class="form-control" placeholder="თანხა" #money>
      </td>

      <td>
        <a (click)="AddMoney(user.id, money.value)" class="btn btn-info btn-sm btn-icon icon-left">
          <i class="entypo-info"></i>
          ჩარიცხვა
        </a>
      </td>
    </template>
  </tr>

  </tbody>
</table>
