<div class="row">

  <div class="col-md-6 col-sm-8 clearfix">
    <ul class="user-info pull-left pull-none-xsm">

      <li class="profile-info dropdown" *ngIf="hasPermission()">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/assets/images/user.png" alt="" class="img-circle" width="44"/> <span *ngIf="user">{{user.email}}</span>
        </a>

        <ul class="dropdown-menu">
          <li class="caret"></li>
          <li >
            <a href="javascript:;" (click)="userProfile(user.email)">
              <i class="entypo-user"></i>
              Edit Profile
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </div>

  <div class="col-md-6 col-sm-4 clearfix hidden-xs">
    <ul class="list-inline links-list pull-right">
      <li>
      </li>
      <li class="sep"></li>
      <li *ngIf="!hasPermission()">
        <button class="btn btn-blue" (click)="login()">
          შესვლა<i class="entypo-login"></i>
        </button>
      </li>
      <li *ngIf="hasPermission()">
        <button class="btn btn-red" (click)="logout()">
          გამოსვლა<i class="entypo-logout"></i>
        </button>
      </li>
    </ul>
  </div>

</div>
