<p>
  <button class="btn btn-blue" (click)="addProduct()" *ngIf="hasPermission(['ADMIN'])">პროდუქტის დამატება</button>
</p>

<div class="gallery-env">

  <div class="row">

    <div class="col-sm-4" *ngFor="let product of products">

      <article class="album">

        <header>
          <span *ngIf="product.pictureUrls?.length > 0">
            <img src="{{photoUrl + product.pictureUrls[0]}}" style="width:500px;height:400px">
          </span>

          <a class="album-options" (click)="detile(product.id)">
            <i class="entypo-cog"></i>
            დეტალურად
          </a>
        </header>

        <section class="album-info">
          <h3>{{product.name}}</h3>

          <h2>{{product.price}} GEL</h2>
        </section>

        <footer>

          <div class="album-images-count">
            <i class="entypo-picture"></i>
            {{product.view}} ნახვა
          </div>

          <div class="album-options" *ngIf="hasPermission(['ADMIN'])">
            <a (click)="remove(product.id)">
              <i class="entypo-trash"></i>
            </a>
          </div>

        </footer>

      </article>

    </div>

  </div>
</div>
