<div class="page-container">

  <app-sidebar></app-sidebar>

  <div class="main-content" style="min-height: 1409px;">

    <app-navbar></app-navbar>

    <hr/>

    <router-outlet></router-outlet>

  </div>

</div>
