<div class="profile-env">

  <header class="row">

    <div class="col-sm-2">
      <a class="profile-picture">
        <img src="/assets/images/user.png" class="img-responsive img-circle"/>
      </a>
    </div>

    <!--@thymesVar id="userProfile" type="ge.gtu.accountant.entities.User"-->
    <div class="col-sm-6">
      <ul class="profile-info-sections">
        <li>
          <div class="profile-name">
            <!--<a id="status" class="user-status is-online tooltip-primary" data-toggle="tooltip"-->
            <!--data-placement="top" data-original-title="შემოსულია"></a>-->
            <!-- User statuses available classes "is-online", "is-offline", "is-idle", "is-busy" -->

            <strong>
              <a>{{user?.firstName}}</a>
              <a class="user-status is-online tooltip-primary " data-toggle="tooltip" data-placement="top" data-original-title="Online"></a>
            </strong>

            <span>
              Co-Founder at Laborator
            </span>
          </div>
        </li>

        <li>
          <div class="profile-stat" *ngIf="hasPermission(['GUEST'])">
            <h3>{{user?.money}} ლარი</h3>
            <span><a href="#">თანხა</a></span>
          </div>
        </li>
      </ul>
    </div>

  </header>

  <section class="profile-info-tabs">

    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <ul class="user-details">
          <li>
            <a>
              <i class="entypo-suitcase"></i>
              <span>Prioriti - {{user?.role}}</span>
            </a>
          </li>
        </ul>

        <ul class="nav nav-tabs">
          <li class="active">
            <a>Profile</a>
          </li>

          <li>
            <a>Edit Profile</a>
          </li>
        </ul>

      </div>
    </div>

  </section>

</div>
