<div class="gallery-env" *ngIf="productDetile?.length > 0">

  <div class="row">

    <div class="col-sm-12">

      <h3>
        {{productDetile[0].name}}
        <!--&nbsp;-->
        <!--<a href="#" onclick="jQuery('#album-cover-options').modal('show');" class="btn btn-default btn-sm btn-icon icon-left">-->
          <!--<i class="entypo-cog"></i>-->
          <!--Edit Album-->
        <!--</a>-->
      </h3>
      <h3>
        {{productDetile[0].body}}
      </h3>
      <h3>
        {{productDetile[0].price}} ლარი
      </h3>
      <h3>

          {{productDetile[0].view}} - ნახვა

      </h3>
      <br/>
      <button (click)="byProduct(productDetile[0].id)" type="button" class="btn btn-blue btn-lg btn-block btn-icon" *ngIf="hasPermission(['GUEST'])">
        ყიდვა
        <i class="entypo-check"></i>
      </button>
      <hr>
    </div>

  </div>

  <div class="row" *ngIf="productDetile[0].pictureUrls?.length > 0">

    <div class="col-sm-3 col-xs-4" data-tag="1d" *ngFor="let url of productDetile[0].pictureUrls">

      <article class="image-thumb">

        <a class="image">
          <img src="{{photoUrl + url}}" style="width:700px;height:300px">
        </a>

        <div class="image-options">
          <a class="edit"><i class="entypo-pencil"></i></a>
          <a class="delete"><i class="entypo-cancel"></i></a>
        </div>

      </article>

    </div>

  </div>

</div>
