<div class="sidebar-menu" style="min-height: 1428px;">

  <header class="logo-env">

    <!-- logo -->
    <div class="logo">
      <a>
        <img src="/assets/images/logo@2x.png" width="120" alt=""/>
      </a>
    </div>

    <!-- logo collapse icon -->
    <div class="sidebar-collapse">
      <a href="#" class="sidebar-collapse-icon with-animation">
        <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
        <i class="entypo-menu"></i>
      </a>
    </div>

  </header>

  <ul id="main-menu" class="">

    <li class="active root-level">
      <a routerLink=''>
        <i class="entypo-monitor"></i>
        <span>მთავარი</span>
      </a>
    </li>

    <li class="active root-level">
      <!--routerLink='product'-->
      <a (click)="navigate()">
        <span>პროდუქტები</span>
      </a>
    </li>

    <li class="active root-level" *ngIf="hasPermission(['ADMIN'])">
      <a  routerLink="paybox">
        <span>PayBox</span>
      </a>
    </li>

    <li class="active root-level" *ngIf="hasPermission(['GUEST'])">
      <a routerLink="myproducts">
        <span>ნაყიდი პროდუქტები</span>
      </a>
    </li>

  </ul>

</div>
