<div class="row">
  <div class="col-sm-2 post-save-changes">
    <button (click)="addProduct()" type="button" class="btn btn-green btn-lg btn-block btn-icon">
       შექმნა
      <i class="entypo-check"></i>
    </button>
  </div>

  <div class="col-sm-5">
    <input type="text" class="form-control input-lg" name="product_title" placeholder="სახელი" [(ngModel)] = "product.name">
  </div>
  <div class="col-sm-5">
    <input type="text" class="form-control input-lg" name="product_price" placeholder="ფასი" [(ngModel)] = "product.price">
  </div>
</div>

<br/>

<div class="row">

  <div class="col-md-12">
    <div class="form-group">
      <textarea [(ngModel)] = "product.body" class="form-control autogrow" name="about" id="about" data-validate="minlength[10]" rows="5" placeholder="აღწერილობა" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 99px;"></textarea>
    </div>
  </div>

</div>

<style>
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }

  html, body { height: 100%; }
</style>

  <div class="row">

    <div class="col-md-3">

      <h3>მონიშნე სურათები</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        ჩააგდე სურათი
      </div>

      <div ng2FileDrop
           [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
           (fileOver)="fileOverAnother($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        ჩააგდე სურათი 2
      </div>

      <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>ატვირთვა</h3>
      <p>ფაილების რაოდენობა: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">სახელი</th>
          <th>ზომა</th>
          <th>პროგრესი</th>
          <th>სტატუსი</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-warning btn-xs"
                    (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          პროგრეს ბარი
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>

    </div>

  </div>
